<li>
  <p><%= link_to user.name, user %>
    <% if current_user.admin? != (user == current_user) %>
      <div id="update">
        <%= form_for user, remote: true do |f| %>
          <div class="field" style="width: 80px;">
            <%= f.select :position, position_choice %>
            <%= f.submit t("change"), class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
      <%= link_to t("users.user.delete"), user, method: :delete,
        data: {confirm: t("users.user.sure")},remote: true,
        class: "btn btn-success user_delete" %>
    <% end %>
  </p>
</li>
