<%= will_paginate %>
  <table>
  <thead>
    <tr>
      <th><%= t "name" %></th>
      <th><%= t "role" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= render @users %>
    </tbody>
</table>
</ul>
<%= will_paginate %>
