<div class="format-login container">
  <%= form_for order, local: true, remote: true do |form| %>

    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="field">
      <%= form.hidden_field :status, value: "accept" %>
    </div>

    <div class="field">
      <%= form.fields_for :order_details do |ff| %>
        <%= ff.hidden_field :order_id %>
        <%= ff.hidden_field :product_id %>
        <%= ff.hidden_field :quantity %>
        <%= ff.hidden_field :id %>
      <% end %>
    </div>
  <% end %>
</div>
