<table>
  <thead>
    <tr>
      <th>Tên sản phẩm</th>
      <th>Giá (VNĐ)</th>
      <th style="padding-left: 42px">Số lượng</th>
      <th>Tổng (VNĐ)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.product.name %></td>
      <td><%= number_with_delimiter(order_detail.product.price) %></td>
        <td>
          <%= form_for order_detail, remote: true do |f| %>
            <%= f.submit t("sub_one"), class: "btn btn-default", style: "margin-right: 11px; height: 10%;" %>
            <%= order_detail.quantity %>
            <%= f.submit t("add_one"), class: "btn btn-default", style: "margin-left: 11px; height: 10%;" %>
          <% end %>
        </td>
        <td><%= number_with_delimiter(order_detail.total_price) %></td>
        <td>
          <%= link_to "Xóa", order_detail_path(order_detail),
            method: :delete, class: "btn btn-add", style: "background: #fa3600" %>
        </td>
        </tr>
    <% end %>
    <tr>
      <td>Tổng giá đơn hàng</td>
      <td></td>
      <td></td>
      <td><strong><%= number_with_delimiter(@carts.sub_total) %> VNĐ</strong></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="row">
<%= link_to "Thanh toán", new_order_path, class: "btn btn-add" %><br>
<p class="pull-right">
<%= link_to "Xóa đơn hàng", cart_path(current_cart),method: :delete,
  data: {confirm: t("confirm")}, class: "btn btn-add1" %></p>
</div>