<p><%= t "devise.mailer.hello" %><%= @resource.email %>!</p>

<p><%= t "devise.mailer.requested" %></p>

<p><%= link_to t("devise.mailer.change_pass"), edit_password_url(@resource,
  reset_password_token: @token) %></p>

<p><%= t "devise.mailer.ignore_email" %></p>
<p><%= t "devise.mailer.pass_noti" %></p>
