<% if can? :new, Product %>
  <a class="btn btn-add pull-right" href="<%= new_product_path %>">
    <span class="fa fa-plus-square"> Tạo mới</span>
  </a>
<% end %>
<div class="container">
  <div class="row">
    <div class="flat-projects">
      <ul class="projects-filter style1">
        <li class="active"><a data-filter="*" href="#">All</a></li>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, "#",
            data: {filter: ".#{category.id}"} %></li>
        <% end %>
      </ul>
      <div class="projects-items">
        <% @products.each do |product| %>
            <div class="projects flat-column-4 hentry <%= product.category.id %>">
              <div class="project-wrap size">
                <div class="project-thumbnail">
                    <%= image_tag product.picture.url if product.picture? %>
                </div>
                <div class="">
                  <div class="">
                    <h3 class="center tittle">
                      <%= link_to product.name, product %>
                    </h3>
                    <p class="center"><%= link_to number_with_delimiter(product.price), product %>VNĐ</p>
                    <h6 class="center">
                      <% if cannot? :update, product %>
                        <%= link_to '<i class="fa fa-shopping-cart"> Buy</i>'.html_safe,
                        product_order_details_path(product), method: :post, class: "btn btn-add" %>
                      <% end %>
                    </h6>
                  </div>
                </div>
              </div><!-- /.project-wrap -->
            </div><!-- /.hentry -->
        <% end %>
      </div><!-- /.projects-items -->
    </div>
  </div>
</div>