<div class="line">
  <div class="picture-show col-sm-7">
    <%= image_tag @product.picture.url if @product.picture? %></div>
    <div class="col-sm-4">
      <div class="unit5">
        <p class="name"><strong><%= @product.name %></strong></p>
        <p class="name1"><strong><%= number_with_delimiter(@product.price) %> VNĐ</strong></p>
        <p class="area" style="font-size: 16px;">
          <%= @product.begin_at.strftime("%I:%M %p") %> - <%= @product.finish_at.strftime("%I:%M %p") %>
        </p>
        <p>
          <% @product.areas.each do |area| %>
            <strong class="area">
              <%= area.name %>
            </strong>
          <% end %>
        </p>
        <% if cannot? :update, @product %>
          <%= link_to '<i class="fa fa-shopping-cart"> Buy</i>'.html_safe,
                        product_order_details_path(@product), method: :post, class: "btn btn-add" %>
        <% end %>
        <% if can? :update, @product %>
          <td><%= link_to "Chỉnh sửa",
            edit_product_path(@product), class: "btn btn-add", style: "background: #333" %></td>
          <td><%= link_to "Xóa", @product,
            method: :delete, data: {confirm: t("confirm")},
            class: "btn btn-add", style: "background: #fa3600" %>
          </td>
        <% end %>
      </div>
    </div>
  </div>
</div>