<header id="header" class="header">
  <div class="header-wrap navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <div id="logo" class="col-sm-7">
            <div class="logo">
              <%= link_to image_tag("logo.png"), root_path, class: "colors something" %></div>
            </div>
            <div class="nav-wrap col-sm-5">
              <nav class="mainnav">
                <ul>
                  <li><%= link_to t("layouts.header.users"), users_path,
                    class: "a something" %></li>
                  <li class="">
                    <%= link_to t("layouts.account"), "#", class: "a" %>
                    <ul class="submenu">
                      <li><%= link_to t("layouts.profile"),
                        current_user %></li>
                      <li><%= link_to t("layouts.setting"),
                        edit_user_registration_path %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to t("layouts.logout"),
                          destroy_user_session_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#" class="a">
                      <%= t "layouts.language" %></a>
                    <ul class="submenu">
                      <li>
                        <%= link_to t("layouts.en"),
                          locale: :en %>
                      </li>
                      <li>
                        <%= link_to t("layouts.vi"),
                          locale: :vi %>
                      </li>
                    </ul>
                  </li>
                  <li class="lix">
                  <%= render "notifications/notification_center",
                    notifications: noti %></li>
                </ul>
              </nav>
            </div>
          <% else %>
            <div id="logo" class="col-sm-4">
              <div class="logo">
                <%= link_to image_tag("logo.png"), root_path, class: "colors something" %></div>
            </div>
            <div class="nav-wrap col-sm-8">
              <nav class="mainnav">
                <ul>
                  <%= search_form_for search_product do |f| %>
                    <li class="search">
                      <%= f.text_field :name_cont, class: "search-box pull-right",
                        placeholder: t("layouts.search") %>
                    </li>
                  <% end %>
                    <li><%= link_to t("layouts.header.products"),
                      products_path, class: "a something" %></li>
                  <li class="">
                    <%= link_to t("layouts.account"), "#", class: "a" %>
                    <ul class="submenu">
                      <li><%= link_to t("layouts.header.orders"),
                        orders_path, class: "something" %></li>
                      <% if current_user.user? %>
                        <li><%= link_to t("layouts.header.send_messages"),
                          new_user_message_path(current_user) %></li>
                      <% end %>
                      <% if current_user.seller? %>
                        <li><%= link_to t("layouts.header.thong_ke"),
                          statistical_index_path, class: "something" %></li>
                      <% end %>
                      <li><%= link_to t("layouts.profile"),
                        current_user %></li>
                      <li><%= link_to t("layouts.setting"),
                        edit_user_registration_path %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to t("layouts.logout"),
                          destroy_user_session_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#" class="a">
                      <%= t "layouts.language" %></a>
                    <ul class="submenu">
                      <li>
                        <%= link_to t("layouts.en"),
                          locale: :en %>
                      </li>
                      <li>
                        <%= link_to t("layouts.vi"),
                          locale: :vi %>
                      </li>
                    </ul>
                  </li>
                  <li><%= link_to '<i class="fa fa-shopping-cart shop"></i>'.html_safe,
                    carts_path %></li>
                  <li class="lix">
                    <%= render("carts/count") %>
                  </li>
                  </ul>
              </nav>
            </div>
          <% end %>
        <% else %>
          <div class="nav-wrap pull-header col-sm-9">
            <nav class="mainnav">
              <ul>
                <li><%= link_to t("layouts.header.login"),
                    new_user_session_path, class: "a" %></li>
                <li class="">
                  <a href="#" class="a">
                    <%= t "layouts.language" %></a>
                  <ul class="submenu">
                    <li>
                      <%= link_to t("layouts.en"),
                        locale: :en %>
                    </li>
                    <li>
                      <%= link_to t("layouts.vi"),
                        locale: :vi %>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<script type="text/javascript">
$('.something').click(function() {
    location.reload();
});
</script>